$base-font-size:    16px!default;
$base-line-height:  24px!default;

$spacing-unit-x-small: 3px;
$spacing-unit-small: 6px;
$spacing-unit: 12px;
$spacing-unit-large: 24px;
$spacing-unit-x-large: 48px;

@mixin font-family() {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@mixin font-family-bold() {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

// Calculate font and line height
// source: https://github.com/csswizardry/inuit.css/blob/master/generic/_mixins.scss
@mixin font-size($font-size, $line-height:true){
    font-size:$font-size;
    font-size:($font-size / $base-font-size)*1rem;
    @if $line-height == true{
        line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
    }
}

